<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class ="container">
    <h1>Ajouter un utilisateur </h1>
    <form th:action="@{/insert}" method="post">
        <div>
            <label>Nom : </label> <input type="text"
                                         th:field="*{nom}"
                                         name="nom"
                                         class="form-control mb-2 col-4"/>
        </div>
        <br>
        <div>
            <label>Prenom : </label> <input type="text" th:field="*{prenom}" name="prenom" class="form-control mb-2 col-4"/>
        </div>
        <br>
        <div>
            <label>Email : </label> <input type="email" th:field="*{email}" name="email" class="form-control mb-2 col-4"/>
        </div>
        <br>
        <div>
            <label>Password : </label> <input type="password" th:field="*{password}" name="password" class="form-control mb-2 col-4"/>
        </div>
        <br>
        <div>
            <label>Role : </label><br>
            <div class="form-check"> <input id ="admin" value="2" type="radio"  th:field="*{role}" name="role" class=" form-check-input mb-2 col-4"/><label class="form-check-label" for="admin">admin</label></div>
            <div class="form-check"> <input id = "employer" value="1" type="radio"  th:field="*{role}" name="role" class=" form-check-input mb-2 col-4"/><label class="form-check-label" for="employer">employer</label></div>
        </div>
        <br>


        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
</body>
</html>